@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,600,700,800,900&display=swap');
*
{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    min-height: 100vh;
    background: linear-gradient(#11101D,#1d1b2c);
}
header
{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    Z-index: 10000;
}
iframe
{
    border-radius: 20px;
    margin-left: 80%;
    margin-bottom: 0%;
    margin-top: 10%;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: none;
    letter-spacing: 2px;
    
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;

}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
/* Scroll Bar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    margin-block: 8px;
    /* background: black; */
  }
  
  :hover::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-color-hover);
    border-radius: 10px;
  }
  /* Scroll Bar End */
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img
{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section img#moon
{
    mix-blend-mode: screen;
}
#text
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
.center {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
   }
   .notice {
     position: absolute;
     top: 56%;
     left: 37%;
     transform: translate(-50%, -50%);
   }
 
   .sectiontitle {
     position: absolute;
     top: 15%;
     left: 50%;
     transform: translate(-50%, -50%); 
   }